{:itonami.blueprint/id "cloud-itonami-isic-941"
 :itonami.blueprint/name "Activities of Business, Employers and Professional Membership Organizations - Administrative Coordination"
 :itonami.blueprint/isic-rev4 "941"
 :itonami.blueprint/domain :services/membership-association-coordination
 :itonami.blueprint/license "AGPL-3.0"
 :itonami.blueprint/social-impact [:operational-efficiency :administrative-transparency :member-services-access]
 :itonami.blueprint/governor :membershipassocorg-governor
 :itonami.blueprint/robotics false
 :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented}
