{:kotoba.app/id "cloud.itonami.isic-941", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreif745glq46hi7ffrwvlmpysu7s7bars3lzmxhcll3cnzgmtqc2feu", :kotoba.app/embed-url "ipfs://bafkreif745glq46hi7ffrwvlmpysu7s7bars3lzmxhcll3cnzgmtqc2feu", :published {:archive "https://kotobase.net/ipfs/bafkreif745glq46hi7ffrwvlmpysu7s7bars3lzmxhcll3cnzgmtqc2feu", :size 71848, :put-status 201, :get-status 200, :at "2026-08-15T13:42:58.792Z"}}
